:root {
    --color-primary: #007070;
    --color-secondary: #006060;
    --color-background: #f4eddc;
    --color-light-secondary: #ffffff;
    --color-dark-secondary: #000000;
    --color-accent: #009090;
    --color-accent-light: #00a0a0;
    --color-neutral: #e0d5c0;
    --color-neutral-dark: #c0b5a0;
    --color-success: #008060;
    --color-warning: #d0a060;
    --color-error: #c05050;
  }
  
  /* Aplicar colores al body */
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  